@use 'config/reset.scss';
@use 'config/variaveis.scss';
@use 'sass:math';

@function pixelParaEM($alvoEmPixel, $contextoEmPixel: 16px) {
  @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

@mixin listStyle() {
  list-style: none;
}


body {
  background-color: variaveis.$corDeFundo;
  
}

header {
  background-color: variaveis.$corPrimaria;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    nav .menu {
      display: flex;

      li {
        @include listStyle();
        font-weight: bold;
        margin-left: 24px;

        a {
          color: variaveis.$corSecundaria;
          text-decoration: none;
        }

      }
    }
  }


}

section {
  padding: 56px 0;

  .container h2 {
    font-size: pixelParaEM(32px);
  
  }

  .products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item {
      @include listStyle();
    
      img {
          width: 100%;
          border-radius: 16px;
      }

      .product-button {
        display: block;
        background-color: variaveis.$corButtonDetail;
        color: variaveis.$corSecundaria;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
          background-color: variaveis.$corHoverButtonDetail;
        }
      } 
    }

  }
  
}





@media screen and (max-width: variaveis.$tablet) {
  .container {
      max-width: 80%;
  }

  section .products {
    display: grid;
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
}

}



@media screen and (max-width: variaveis.$mobile) {
  section .products {
      display: block;
  }

  .product-item  {
      margin-bottom: 32px;
  }
}